Web References/NOXWS/NOXWS2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://bitfi.com/dataservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="https://bitfi.com/dataservices/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://bitfi.com/dataservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://bitfi.com/dataservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="XMRGetRandom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mixin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amounts" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="XMRGetRandomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMRGetRandomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGCMToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GCMToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GCMUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGCMTokenResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDisplayMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDisplayMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDisplayMsgResult" type="tns:SignedDisplayMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedDisplayMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCurrentSMSToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GCMToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GCMUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentSMSTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentSMSTokenResult" type="tns:SignedFormUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedFormUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:FormUserInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FormUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReqType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GMCToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Delivered" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetImageRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageRequestResult" type="tns:SignedNoxImageRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedNoxImageRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:NoxImageRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGasRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGasRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGasRequestResult" type="tns:SignedNoxGasRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedNoxGasRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:NoxGasRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestResult" type="tns:SignedNoxAddressRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedNoxAddressRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:NoxAddressRequests" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMsgRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMsgRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMsgRequestResult" type="tns:SignedNoxMsgProcess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedNoxMsgProcess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:NoxMsgProcess" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitMsgResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitMsgResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSwapTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResponseObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSwapTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSwapTransactionResult" type="tns:SignedNoxTxnProcess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignedNoxTxnProcess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:NoxTxnProcess" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSwapRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSwapRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSwapRequestResult" type="tns:NoxSwapRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestV4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestV4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTxnRequestV4Result" type="tns:SignedNoxTxnProcess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTxnRequestV3Result" type="tns:SignedNoxTxnProcess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTxnRequestV2Result" type="tns:SignedNoxTxnProcess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxnRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTxnRequestResult" type="tns:SignedNoxTxnProcess" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTxnResponseMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TxnHex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MXKeyImages" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTxnResponseMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitTxnResponseMXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TxnHex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGasResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitGasResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTxnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TxnHex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTxnResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitTxnResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstAddressResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondAddressRequestV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondAddressRequestV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RespondAddressRequestV3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondAddressRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondAddressRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RespondAddressRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageRequestV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageRequestV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageRequestV2Result" type="tns:SignedNoxImageRequests" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondImageRequestV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyImages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="XMRAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondImageRequestV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RespondImageRequestV2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondImageRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyImages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="XMRAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondImageRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RespondImageRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondFirstAddressRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noxsig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noxmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:FirstAdrCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RespondFirstAddressRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RespondFirstAddressRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="SignedDisplayMsg" nillable="true" type="tns:SignedDisplayMsg" />
      <s:element name="SignedFormUserInfo" nillable="true" type="tns:SignedFormUserInfo" />
      <s:element name="SignedNoxImageRequests" nillable="true" type="tns:SignedNoxImageRequests" />
      <s:element name="SignedNoxGasRequests" nillable="true" type="tns:SignedNoxGasRequests" />
      <s:element name="SignedNoxAddressRequests" nillable="true" type="tns:SignedNoxAddressRequests" />
      <s:element name="SignedNoxMsgProcess" nillable="true" type="tns:SignedNoxMsgProcess" />
      <s:element name="SignedNoxTxnProcess" nillable="true" type="tns:SignedNoxTxnProcess" />
      <s:element name="NoxSwapRequests" nillable="true" type="tns:NoxSwapRequests" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:complexType name="NoxAddressRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DoSegwit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BlkNet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SMSToken" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPending" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HDIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TXNLineID" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoxGasRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NXTxn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SMSToken" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPending" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TXNLineID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NeoAddress" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImageRequestTable">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TxPubKey" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OutIndex" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImageRequestTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImageRequestTable" nillable="true" type="tns:ImageRequestTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoxImageRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MXTxn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SMSToken" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPending" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TXNLineID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PublicTable" nillable="true" type="tns:ArrayOfImageRequestTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoxSwapRequests">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ToTokenAddr" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromTokenAddr" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LineID" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateResponse" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tracking" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FixedRate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FromBlkNet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToBlkNet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AmountFrom" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NodeSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestObj" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestSignature" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PayoutAddressIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundAddressIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PayoutAddressDoSegwit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundAddressDoSegwit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="APIAccount" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorMessage" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BCUnspent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TxHash" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OutputN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Address" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TXSInput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="sequence" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="addresses" nillable="true" type="tns:ArrayOfstring" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TXSOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="addresses" nillable="true" type="tns:ArrayOfstring" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TXSkeleton">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="block_height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="block_index" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="hash" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="addresses" nillable="true" type="tns:ArrayOfstring" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="fees" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="gas_used" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="gas_price" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="relayed_by" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="received" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ver" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="double_spend" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="vin_sz" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="vout_sz" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="inputs" nillable="true" type="tns:ArrayOfTXSInput" />
          <s:element minOccurs="1" maxOccurs="1" name="outputs" nillable="true" type="tns:ArrayOfTXSOutput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TXS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tx" nillable="true" type="tns:TXSkeleton" />
          <s:element minOccurs="1" maxOccurs="1" name="tosign" nillable="true" type="tns:ArrayOfstring" />
          <s:element minOccurs="1" maxOccurs="1" name="signatures" nillable="true" type="tns:ArrayOfstring" />
          <s:element minOccurs="1" maxOccurs="1" name="Exception" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoxAddresses">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DoSegwit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ViewKey" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BlkNet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BTCBal" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BTCAddress" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HDIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TXNLineID" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfstring">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBCUnspent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BCUnspent" nillable="true" type="tns:BCUnspent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTXSInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TXSInput" nillable="true" type="tns:TXSInput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTXSOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TXSOutput" nillable="true" type="tns:TXSOutput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoxTxnProcess">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FeeTotal" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FeeValue" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ETCTokenName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ETCNonce" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ETCToken" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ETCGasUsed" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MXTxn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HDIndexList" nillable="true" type="tns:ArrayOfstring" />
          <s:element minOccurs="1" maxOccurs="1" name="UnspentList" nillable="true" type="tns:ArrayOfBCUnspent" />
          <s:element minOccurs="1" maxOccurs="1" name="TXSProcess" nillable="true" type="tns:TXS" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcessH1" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcessH2" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USDRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BlkNet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SMSToken" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToAddress" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TxnID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InputHex" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TXNLineID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TxnRaw" nillable="true" type="tns:ArrayOfstring" />
          <s:element minOccurs="1" maxOccurs="1" name="NoxAddress" nillable="true" type="tns:NoxAddresses" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NoxMsgProcess">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Msg" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sig" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSigned" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BlkNet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SMSToken" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TXNLineID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoxAddress" nillable="true" type="tns:NoxAddresses" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FirstAdrCollection">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BTC" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LTC" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Monero" nillable="true" type="tns:ArrayOfstring" />
          <s:element minOccurs="1" maxOccurs="1" name="ETH" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NEO" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema targetNamespace="https://bitfi.com/dataservices/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:s1="http://microsoft.com/wsdl/types/" elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XMRGetRandomSoapIn">
    <wsdl:part name="parameters" element="tns:XMRGetRandom" />
  </wsdl:message>
  <wsdl:message name="XMRGetRandomSoapOut">
    <wsdl:part name="parameters" element="tns:XMRGetRandomResponse" />
  </wsdl:message>
  <wsdl:message name="SetGCMTokenSoapIn">
    <wsdl:part name="parameters" element="tns:SetGCMToken" />
  </wsdl:message>
  <wsdl:message name="SetGCMTokenSoapOut">
    <wsdl:part name="parameters" element="tns:SetGCMTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetDisplayMsgSoapIn">
    <wsdl:part name="parameters" element="tns:GetDisplayMsg" />
  </wsdl:message>
  <wsdl:message name="GetDisplayMsgSoapOut">
    <wsdl:part name="parameters" element="tns:GetDisplayMsgResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSMSTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentSMSToken" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSMSTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentSMSTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageRequest" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetGasRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GetGasRequest" />
  </wsdl:message>
  <wsdl:message name="GetGasRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GetGasRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequest" />
  </wsdl:message>
  <wsdl:message name="GetRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetMsgRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GetMsgRequest" />
  </wsdl:message>
  <wsdl:message name="GetMsgRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GetMsgRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitMsgResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitMsgResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitMsgResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitMsgResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetSwapTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSwapTransaction" />
  </wsdl:message>
  <wsdl:message name="GetSwapTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSwapTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSwapRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GetSwapRequest" />
  </wsdl:message>
  <wsdl:message name="GetSwapRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GetSwapRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV4SoapIn">
    <wsdl:part name="parameters" element="tns:GetTxnRequestV4" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV4SoapOut">
    <wsdl:part name="parameters" element="tns:GetTxnRequestV4Response" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV3SoapIn">
    <wsdl:part name="parameters" element="tns:GetTxnRequestV3" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV3SoapOut">
    <wsdl:part name="parameters" element="tns:GetTxnRequestV3Response" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV2SoapIn">
    <wsdl:part name="parameters" element="tns:GetTxnRequestV2" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV2SoapOut">
    <wsdl:part name="parameters" element="tns:GetTxnRequestV2Response" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GetTxnRequest" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GetTxnRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseMXSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitTxnResponseMX" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseMXSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitTxnResponseMXResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitGasResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitGasResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitGasResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitGasResponseResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitTxnResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitTxnResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstAddress" />
  </wsdl:message>
  <wsdl:message name="GetFirstAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstAddressResponse" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestV3SoapIn">
    <wsdl:part name="parameters" element="tns:RespondAddressRequestV3" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestV3SoapOut">
    <wsdl:part name="parameters" element="tns:RespondAddressRequestV3Response" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestSoapIn">
    <wsdl:part name="parameters" element="tns:RespondAddressRequest" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestSoapOut">
    <wsdl:part name="parameters" element="tns:RespondAddressRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestV2SoapIn">
    <wsdl:part name="parameters" element="tns:GetImageRequestV2" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestV2SoapOut">
    <wsdl:part name="parameters" element="tns:GetImageRequestV2Response" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestV2SoapIn">
    <wsdl:part name="parameters" element="tns:RespondImageRequestV2" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestV2SoapOut">
    <wsdl:part name="parameters" element="tns:RespondImageRequestV2Response" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestSoapIn">
    <wsdl:part name="parameters" element="tns:RespondImageRequest" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestSoapOut">
    <wsdl:part name="parameters" element="tns:RespondImageRequestResponse" />
  </wsdl:message>
  <wsdl:message name="RespondFirstAddressRequestSoapIn">
    <wsdl:part name="parameters" element="tns:RespondFirstAddressRequest" />
  </wsdl:message>
  <wsdl:message name="RespondFirstAddressRequestSoapOut">
    <wsdl:part name="parameters" element="tns:RespondFirstAddressRequestResponse" />
  </wsdl:message>
  <wsdl:message name="XMRGetRandomHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="mixin" type="s:string" />
    <wsdl:part name="amounts" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="XMRGetRandomHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetGCMTokenHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="GCMToken" type="s:string" />
    <wsdl:part name="GCMUser" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetGCMTokenHttpPostOut" />
  <wsdl:message name="GetDisplayMsgHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="Version" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDisplayMsgHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedDisplayMsg" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSMSTokenHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="GCMToken" type="s:string" />
    <wsdl:part name="GCMUser" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSMSTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedFormUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxImageRequests" />
  </wsdl:message>
  <wsdl:message name="GetGasRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGasRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxGasRequests" />
  </wsdl:message>
  <wsdl:message name="GetRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxAddressRequests" />
  </wsdl:message>
  <wsdl:message name="GetMsgRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMsgRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxMsgProcess" />
  </wsdl:message>
  <wsdl:message name="SubmitMsgResponseHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="Sig" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitMsgResponseHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSwapTransactionHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
    <wsdl:part name="ResponseObject" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSwapTransactionHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxTxnProcess" />
  </wsdl:message>
  <wsdl:message name="GetSwapRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSwapRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:NoxSwapRequests" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV4HttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV4HttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxTxnProcess" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV3HttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV3HttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxTxnProcess" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV2HttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestV2HttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxTxnProcess" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTxnRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxTxnProcess" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseMXHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="TxnHex" type="s:string" />
    <wsdl:part name="MXKeyImages" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseMXHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitGasResponseHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="TxnHex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitGasResponseHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="TxnHex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitTxnResponseHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFirstAddressHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFirstAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestV3HttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="Address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestV3HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="Address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RespondAddressRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestV2HttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="SMSToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestV2HttpPostOut">
    <wsdl:part name="Body" element="tns:SignedNoxImageRequests" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestV2HttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="KeyImages" type="s1:StringArray" />
    <wsdl:part name="XMRAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestV2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestHttpPostIn">
    <wsdl:part name="noxsig" type="s:string" />
    <wsdl:part name="noxmsg" type="s:string" />
    <wsdl:part name="pubkey" type="s:string" />
    <wsdl:part name="LineID" type="s:string" />
    <wsdl:part name="KeyImages" type="s1:StringArray" />
    <wsdl:part name="XMRAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RespondImageRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="NOXWS2Soap">
    <wsdl:operation name="XMRGetRandom">
      <wsdl:input message="tns:XMRGetRandomSoapIn" />
      <wsdl:output message="tns:XMRGetRandomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGCMToken">
      <wsdl:input message="tns:SetGCMTokenSoapIn" />
      <wsdl:output message="tns:SetGCMTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDisplayMsg">
      <wsdl:input message="tns:GetDisplayMsgSoapIn" />
      <wsdl:output message="tns:GetDisplayMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSMSToken">
      <wsdl:input message="tns:GetCurrentSMSTokenSoapIn" />
      <wsdl:output message="tns:GetCurrentSMSTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageRequest">
      <wsdl:input message="tns:GetImageRequestSoapIn" />
      <wsdl:output message="tns:GetImageRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGasRequest">
      <wsdl:input message="tns:GetGasRequestSoapIn" />
      <wsdl:output message="tns:GetGasRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <wsdl:input message="tns:GetRequestSoapIn" />
      <wsdl:output message="tns:GetRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMsgRequest">
      <wsdl:input message="tns:GetMsgRequestSoapIn" />
      <wsdl:output message="tns:GetMsgRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMsgResponse">
      <wsdl:input message="tns:SubmitMsgResponseSoapIn" />
      <wsdl:output message="tns:SubmitMsgResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSwapTransaction">
      <wsdl:input message="tns:GetSwapTransactionSoapIn" />
      <wsdl:output message="tns:GetSwapTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSwapRequest">
      <wsdl:input message="tns:GetSwapRequestSoapIn" />
      <wsdl:output message="tns:GetSwapRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV4">
      <wsdl:input message="tns:GetTxnRequestV4SoapIn" />
      <wsdl:output message="tns:GetTxnRequestV4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV3">
      <wsdl:input message="tns:GetTxnRequestV3SoapIn" />
      <wsdl:output message="tns:GetTxnRequestV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV2">
      <wsdl:input message="tns:GetTxnRequestV2SoapIn" />
      <wsdl:output message="tns:GetTxnRequestV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequest">
      <wsdl:input message="tns:GetTxnRequestSoapIn" />
      <wsdl:output message="tns:GetTxnRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponseMX">
      <wsdl:input message="tns:SubmitTxnResponseMXSoapIn" />
      <wsdl:output message="tns:SubmitTxnResponseMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGasResponse">
      <wsdl:input message="tns:SubmitGasResponseSoapIn" />
      <wsdl:output message="tns:SubmitGasResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponse">
      <wsdl:input message="tns:SubmitTxnResponseSoapIn" />
      <wsdl:output message="tns:SubmitTxnResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddress">
      <wsdl:input message="tns:GetFirstAddressSoapIn" />
      <wsdl:output message="tns:GetFirstAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequestV3">
      <wsdl:input message="tns:RespondAddressRequestV3SoapIn" />
      <wsdl:output message="tns:RespondAddressRequestV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequest">
      <wsdl:input message="tns:RespondAddressRequestSoapIn" />
      <wsdl:output message="tns:RespondAddressRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageRequestV2">
      <wsdl:input message="tns:GetImageRequestV2SoapIn" />
      <wsdl:output message="tns:GetImageRequestV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequestV2">
      <wsdl:input message="tns:RespondImageRequestV2SoapIn" />
      <wsdl:output message="tns:RespondImageRequestV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequest">
      <wsdl:input message="tns:RespondImageRequestSoapIn" />
      <wsdl:output message="tns:RespondImageRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondFirstAddressRequest">
      <wsdl:input message="tns:RespondFirstAddressRequestSoapIn" />
      <wsdl:output message="tns:RespondFirstAddressRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NOXWS2HttpPost">
    <wsdl:operation name="XMRGetRandom">
      <wsdl:input message="tns:XMRGetRandomHttpPostIn" />
      <wsdl:output message="tns:XMRGetRandomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGCMToken">
      <wsdl:input message="tns:SetGCMTokenHttpPostIn" />
      <wsdl:output message="tns:SetGCMTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDisplayMsg">
      <wsdl:input message="tns:GetDisplayMsgHttpPostIn" />
      <wsdl:output message="tns:GetDisplayMsgHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSMSToken">
      <wsdl:input message="tns:GetCurrentSMSTokenHttpPostIn" />
      <wsdl:output message="tns:GetCurrentSMSTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageRequest">
      <wsdl:input message="tns:GetImageRequestHttpPostIn" />
      <wsdl:output message="tns:GetImageRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGasRequest">
      <wsdl:input message="tns:GetGasRequestHttpPostIn" />
      <wsdl:output message="tns:GetGasRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <wsdl:input message="tns:GetRequestHttpPostIn" />
      <wsdl:output message="tns:GetRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMsgRequest">
      <wsdl:input message="tns:GetMsgRequestHttpPostIn" />
      <wsdl:output message="tns:GetMsgRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMsgResponse">
      <wsdl:input message="tns:SubmitMsgResponseHttpPostIn" />
      <wsdl:output message="tns:SubmitMsgResponseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSwapTransaction">
      <wsdl:input message="tns:GetSwapTransactionHttpPostIn" />
      <wsdl:output message="tns:GetSwapTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSwapRequest">
      <wsdl:input message="tns:GetSwapRequestHttpPostIn" />
      <wsdl:output message="tns:GetSwapRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV4">
      <wsdl:input message="tns:GetTxnRequestV4HttpPostIn" />
      <wsdl:output message="tns:GetTxnRequestV4HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV3">
      <wsdl:input message="tns:GetTxnRequestV3HttpPostIn" />
      <wsdl:output message="tns:GetTxnRequestV3HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV2">
      <wsdl:input message="tns:GetTxnRequestV2HttpPostIn" />
      <wsdl:output message="tns:GetTxnRequestV2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequest">
      <wsdl:input message="tns:GetTxnRequestHttpPostIn" />
      <wsdl:output message="tns:GetTxnRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponseMX">
      <wsdl:input message="tns:SubmitTxnResponseMXHttpPostIn" />
      <wsdl:output message="tns:SubmitTxnResponseMXHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGasResponse">
      <wsdl:input message="tns:SubmitGasResponseHttpPostIn" />
      <wsdl:output message="tns:SubmitGasResponseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponse">
      <wsdl:input message="tns:SubmitTxnResponseHttpPostIn" />
      <wsdl:output message="tns:SubmitTxnResponseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddress">
      <wsdl:input message="tns:GetFirstAddressHttpPostIn" />
      <wsdl:output message="tns:GetFirstAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequestV3">
      <wsdl:input message="tns:RespondAddressRequestV3HttpPostIn" />
      <wsdl:output message="tns:RespondAddressRequestV3HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequest">
      <wsdl:input message="tns:RespondAddressRequestHttpPostIn" />
      <wsdl:output message="tns:RespondAddressRequestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageRequestV2">
      <wsdl:input message="tns:GetImageRequestV2HttpPostIn" />
      <wsdl:output message="tns:GetImageRequestV2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequestV2">
      <wsdl:input message="tns:RespondImageRequestV2HttpPostIn" />
      <wsdl:output message="tns:RespondImageRequestV2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequest">
      <wsdl:input message="tns:RespondImageRequestHttpPostIn" />
      <wsdl:output message="tns:RespondImageRequestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NOXWS2Soap" type="tns:NOXWS2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XMRGetRandom">
      <soap:operation soapAction="https://bitfi.com/dataservices/XMRGetRandom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGCMToken">
      <soap:operation soapAction="https://bitfi.com/dataservices/SetGCMToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisplayMsg">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetDisplayMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSMSToken">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetCurrentSMSToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetImageRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGasRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetGasRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsgRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetMsgRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMsgResponse">
      <soap:operation soapAction="https://bitfi.com/dataservices/SubmitMsgResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwapTransaction">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetSwapTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwapRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetSwapRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV4">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetTxnRequestV4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV3">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetTxnRequestV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV2">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetTxnRequestV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetTxnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponseMX">
      <soap:operation soapAction="https://bitfi.com/dataservices/SubmitTxnResponseMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGasResponse">
      <soap:operation soapAction="https://bitfi.com/dataservices/SubmitGasResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponse">
      <soap:operation soapAction="https://bitfi.com/dataservices/SubmitTxnResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddress">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetFirstAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequestV3">
      <soap:operation soapAction="https://bitfi.com/dataservices/RespondAddressRequestV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/RespondAddressRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageRequestV2">
      <soap:operation soapAction="https://bitfi.com/dataservices/GetImageRequestV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequestV2">
      <soap:operation soapAction="https://bitfi.com/dataservices/RespondImageRequestV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/RespondImageRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondFirstAddressRequest">
      <soap:operation soapAction="https://bitfi.com/dataservices/RespondFirstAddressRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NOXWS2Soap12" type="tns:NOXWS2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XMRGetRandom">
      <soap12:operation soapAction="https://bitfi.com/dataservices/XMRGetRandom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGCMToken">
      <soap12:operation soapAction="https://bitfi.com/dataservices/SetGCMToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisplayMsg">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetDisplayMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSMSToken">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetCurrentSMSToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetImageRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGasRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetGasRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsgRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetMsgRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMsgResponse">
      <soap12:operation soapAction="https://bitfi.com/dataservices/SubmitMsgResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwapTransaction">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetSwapTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwapRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetSwapRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV4">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetTxnRequestV4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV3">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetTxnRequestV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV2">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetTxnRequestV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetTxnRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponseMX">
      <soap12:operation soapAction="https://bitfi.com/dataservices/SubmitTxnResponseMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGasResponse">
      <soap12:operation soapAction="https://bitfi.com/dataservices/SubmitGasResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponse">
      <soap12:operation soapAction="https://bitfi.com/dataservices/SubmitTxnResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddress">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetFirstAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequestV3">
      <soap12:operation soapAction="https://bitfi.com/dataservices/RespondAddressRequestV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/RespondAddressRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageRequestV2">
      <soap12:operation soapAction="https://bitfi.com/dataservices/GetImageRequestV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequestV2">
      <soap12:operation soapAction="https://bitfi.com/dataservices/RespondImageRequestV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/RespondImageRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondFirstAddressRequest">
      <soap12:operation soapAction="https://bitfi.com/dataservices/RespondFirstAddressRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NOXWS2HttpPost" type="tns:NOXWS2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="XMRGetRandom">
      <http:operation location="/XMRGetRandom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGCMToken">
      <http:operation location="/SetGCMToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetDisplayMsg">
      <http:operation location="/GetDisplayMsg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSMSToken">
      <http:operation location="/GetCurrentSMSToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageRequest">
      <http:operation location="/GetImageRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGasRequest">
      <http:operation location="/GetGasRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <http:operation location="/GetRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsgRequest">
      <http:operation location="/GetMsgRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMsgResponse">
      <http:operation location="/SubmitMsgResponse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwapTransaction">
      <http:operation location="/GetSwapTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwapRequest">
      <http:operation location="/GetSwapRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV4">
      <http:operation location="/GetTxnRequestV4" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV3">
      <http:operation location="/GetTxnRequestV3" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequestV2">
      <http:operation location="/GetTxnRequestV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxnRequest">
      <http:operation location="/GetTxnRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponseMX">
      <http:operation location="/SubmitTxnResponseMX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGasResponse">
      <http:operation location="/SubmitGasResponse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTxnResponse">
      <http:operation location="/SubmitTxnResponse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddress">
      <http:operation location="/GetFirstAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequestV3">
      <http:operation location="/RespondAddressRequestV3" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondAddressRequest">
      <http:operation location="/RespondAddressRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageRequestV2">
      <http:operation location="/GetImageRequestV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequestV2">
      <http:operation location="/RespondImageRequestV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondImageRequest">
      <http:operation location="/RespondImageRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NOXWS2">
    <wsdl:port name="NOXWS2Soap" binding="tns:NOXWS2Soap">
      <soap:address location="https://bitfi.com/NoxPortalWS/V1/NOXWS2.asmx" />
    </wsdl:port>
    <wsdl:port name="NOXWS2Soap12" binding="tns:NOXWS2Soap12">
      <soap12:address location="https://bitfi.com/NoxPortalWS/V1/NOXWS2.asmx" />
    </wsdl:port>
    <wsdl:port name="NOXWS2HttpPost" binding="tns:NOXWS2HttpPost">
      <http:address location="https://bitfi.com/NoxPortalWS/V1/NOXWS2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>